# Sets

## Introduction

Now that we have seen lists and tuples it's time to introduce another data structure. The set. A set is an unordered collection of unique elements. Sets are mutable.

Sets are useful when working with data were the order or frequency of the elements do not matter. Searching for an element in a set is a lot faster than in a list. Sets are very helpful if we are dealing with massive amounts of data, for example if we are data mining. Lets work an example on how much faster sets search for elements than lists.

Lets create a list and a set of the integers from one through one million.

In [101]:
this_list = range(1000000)
this_set = set(this_list)

Now, lets lets use a for loop to search for the number one hundred in our list and our set ten million times using the in operator (which we will see later in the lecture). We do not want the functions to return anything to us, we just want it to do the tasks to see how long it will take for both of them to complete.

In [96]:
for number in range(10000000):
    found = 100 in this_list

In my computer this operation with a list took five seconds, now lets see how long it takes for a set to do the same thing.

In [97]:
for number in range(10000000):
    found = 100 in this_set

In my computer this operation took less than one second. As espected, to show how for this task, using a set is less expensive.

### Now lets get into the lecture

There are two ways to create a set. Using the set() function and using curly brackets.

In [102]:
set_one = set()
set_two = {}
print(set_one)
print(set_two)

If we check the type (using the type() function) of our two new sets, we will encountewr something strange.

In [103]:
print(type(set_one))
print(type(set_two))

Our set_two variable is not a set, it's a dictionary. When we assign empty curly brackets to a variable, Python immediately assumes that it's an empty dictionary. If we want to create a set with curly brackets we will have to add elements to it to begin with. This way, when Python reads it, it will notice that the elements are not in a Key/Value structure (dictionary) but independent elements so it will read it as a set. lets rename our set_two variable to make sure it is a set.

In [104]:
set_two = {2, 4, 'Hello'}
print(set_two)
print(type(set_two))

Now that we know that our set_two variable is a set, we notice something odd. When we print set_two, Python does not print the elements in the same order as we originally inputted them. Do not worry about this, as previously mentioned, in sets, the order does not matter.

If we want to use the set() function to create a new set and give elements to that set to begin with, we must use square brackets inside the parentheses. If we do not use the square brackets, Python will raise an error.

In [105]:
set_three = set(1, 4, 'Hello', 9.0)

In [56]:
set_three = set([1, 4, 'Hello', 9.0])

In [106]:
set_three

Transforming a list into a set. Note that in my_list the integers 1, 2 & 3 appear twice and that is absolutely fine for a list. What happens when we transform that list into a set?

In [107]:
my_list = [1, 2, 1, 3, 4, 2, 8, 3]

In [109]:
my_list

In [91]:
list_to_set = set(my_list)

In [110]:
list_to_set

Sets do not support indexing, lets try it on our set list_to_set. Python will raise an error.

In [111]:
list_to_set[2]

## Adding and removing elements from a set

Lets create an empty set called my_set and use the dir() function to see a list of methods that can be used on sets.

In [65]:
my_set= set()
dir(my_set)

To see how to use any of the methods above use the help() function.

In [112]:
help(my_set.add)

The help text provides a reminder of the deffinition of a set, duplicates are not stored. If you try to add the same element twice, Python will store the first time and ignore the second attempt.

### Adding

Lets use the add() method to add elements to our empty set my_set. Lets add an integer, a boolean, a float and a string. Note that you can add data of different types to the same set.

In [114]:
my_set.add(8)
my_set.add(True)
my_set.add(3.14)
my_set.add('Hello')
my_set

As mentioned, a set will not allow duplicates. Lets confirm that.

In [115]:
my_set.add(9)
my_set.add(9)
my_set.add(9)
my_set

Use the len() function to check how many elements our set has.

In [116]:
len(my_set)

### Removing

Lets try to remove an element from our set. If the element we are trying to remove it's not a member of our set, Python will raise an Error as it descrives when we use the help() function.

In [117]:
help(my_set.remove)

Lets recal our set

In [119]:
my_set

Lets remove the string 'Hello'. We can check if it worked either by looking at the number of elemnets in our set using the len() function or by displaying all the elements inside the set.

In [121]:
my_set.remove('Hello')
print(len(my_set))
print(my_set)

What if we try to remove the boolean False which is not in our set? lets see what happens.

In [122]:
my_set.remove(False)

There is another way to delete elements from a set, using the discard() method. The discard() method has all the attributes of the remove() method except when we try to remove an element that it's not a member of the set. The discard() method will do nothing, will not raise an error as opposed to the remove() method.

In [52]:
my_set.discard(False)

In [123]:
my_set

If we want to clear our set we can use the clear() method, this method will leave our set with 0 elements.

In [124]:
my_set.clear()
print(len(my_set))
print(my_set)

## The in operator

If we wish to know if an element is a member of a set we can use the in operator. By using the in operator Python will return to us a boolean to let us know if that statement is True or False. Lets create a new set, add some values and test the in operator.

In [125]:
new_set = set()
new_set.add(10)
new_set.add(False)
new_set.add(2018)
new_set.add('Bye')
new_set

In [126]:
10 in new_set

In [127]:
1 in new_set

We can also check if an element is not a member of a set by adding the not operator before the in operator in the statement.

In [128]:
False not in new_set

In [129]:
True not in new_set

## Union, intersection, difference and symmetric difference of sets

We can use mathematical operations on sets such as union, intersection, difference and symmetric difference.

Lets create a few sets that will help us with this part of the lecture, we will use the integers from one through ten.

In [131]:
odds = set([1,3,5,7,9])
even = set([2,4,6,8,10])
prime = set([2,3,5,7])

### Union

The union of two sets is the combination of all elements from both sets. For the union we will use (|). Order does not matter for this operation.

<img class="rg_ic rg_i" id="YaXE3a8mQiFJfM:" jsaction="load:str.tbn" alt="Image result for union venn diagrams" onload="typeof google==='object'&amp;&amp;google.aft&amp;&amp;google.aft(this)" style="width: 209px; height: 157px; margin-left: 0px; margin-right: 0px; margin-top: 0px;" src="">

In [132]:
odds | even

In [133]:
even | odds

### Intersection

The intersection of two sets is the set of only the elements shared by the two sets. For the intersection we will use (&). Order does not matter for this operation.

<img class="rg_ic rg_i" id="Z4hoQzB-_8DBdM:" jsaction="load:str.tbn" alt="Image result for intersection venn diagrams" onload="typeof google==='object'&amp;&amp;google.aft&amp;&amp;google.aft(this)" style="width: 235px; height: 176px; margin-left: 0px; margin-right: 0px; margin-top: 0px;" src="">

In [134]:
odds & prime

In [135]:
prime & odds

If we use the same sets we used for the union example in this intersection example, what do you think will happen?

In [136]:
odds & even

In [137]:
even & odds

### Difference

When we look for the difference of two sets, we are asking Python to return to us a set that contains all the elements of the first set with out the elements shared with the second set. In this case order does matter. For the difference we will use (-).

<img class="rg_ic rg_i" id="3DVknd4U-hCdrM:" jsaction="load:str.tbn" alt="Image result for symmetric difference venn diagrams" onload="typeof google==='object'&amp;&amp;google.aft&amp;&amp;google.aft(this)" style="width: 227px; height: 170px; margin-left: 0px; margin-right: 0px; margin-top: 0px;" src="">

In [138]:
odds - prime

In [139]:
prime - odds

### Symmetric difference

Logically we can think of the symmetric difference of sets A and B as (A - B | B - A). It is all the elements from set A that are not shared with set B united with all the elements of set B that are not shared with set A. for symetric difference we will use (^). Order does not matter for this operation.

<img class="rg_ic rg_i" id="2PonR-zpGT0LaM:" jsaction="load:str.tbn" alt="Image result for symmetric difference venn diagram" onload="typeof google==='object'&amp;&amp;google.aft&amp;&amp;google.aft(this)" style="width: 219px; height: 177px; margin-left: -16px; margin-right: -5px; margin-top: 0px;" src="">

In [140]:
even ^ prime

In [141]:
prime ^ even

If we use the same sets we used for the union example in this symetric difference example, what do you think will happen?

In [142]:
even ^ odds

In [143]:
odds ^ even

### Summary

In this lecture we introduced sets and explained how sets are a very powerful data structure that can be used when dealing with large amounts of data. Using sets we can find elements faster than in a list. Sets are unordered collections of unique elements. Sets are mutable which means that we can add and erase elements from it. We can use mathematical operations on sets like union, intersection, difference and symmetrical difference.